.grade1{
  background-position: -34px -23px;
}
.grade2{
  background-position: -34px -47px;
}
.grade3{
  background-position: -34px -71px;
}
.grade4{
  background-position: -34px -95px;
}
.grade5{
  background-position: -34px -119px;
}
.grade6{
  background-position: -34px -143px;
}
.grade7{
  background-position: -34px -167px;
}
.grade8{
  background-position: -34px -191px;
}
.grade9{
  background-position: -144px -23px;
}
.grade10{
  background-position: -144px -47px;
}
.grade11{
  background-position: -144px -71px;
}
.grade12{
  background-position: -144px -95px;
}
.grade13{
  background-position: -144px -119px;
}
.grade14{
  background-position: -144px -143px;
}
.grade15{
  background-position: -254px -23px;
}
.grade16{
  background-position: -254px -47px;
}
.grade17{
  background-position: -254px -71px;
}
.grade18{
  background-position: -254px -95px;
}
.big-grade1{
  background-position: -71px -23px;
}
.big-grade2{
  background-position: -71px -47px;
}
.big-grade3{
  background-position: -71px -71px;
}
.big-grade4{
  background-position: -71px -95px;
}
.big-grade5{
  background-position: -71px -119px;
}
.big-grade6{
  background-position: -71px -143px;
}
.big-grade7{
  background-position: -71px -167px;
}
.big-grade8{
  background-position: -71px -191px;
}
.big-grade9{
  background-position: -181px -23px;
}
.big-grade10{
  background-position: -181px -47px;
}
.big-grade11{
  background-position: -181px -71px;
}
.big-grade12{
  background-position: -181px -95px;
}
.big-grade13{
  background-position: -181px -119px;
}
.big-grade14{
  background-position: -181px -143px;
}
.grade15{
  background-position: -291px -23px;
}
.grade16{
  background-position: -291px -47px;
}
.grade17{
  background-position: -291px -71px;
}
.grade18{
  background-position: -291px -95px;
}
